mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.option-form_field {
  height: 50px;
  margin-bottom: 8px;
}
.question-form_field {
  height: 100px;
  margin-bottom: 8px;
}
.update_Question-button {
  height: 35px;
  margin: 5px 0px 5px;
  border-radius: 17.5px;
}
.Submit-button {
  height: 40px;
  background-color: rgb(50, 103, 250);
  margin: 10px 0px 10px;
}
