mat-form-field {
  width: 100%;
  margin-bottom: 0px;
}

.update_Question-button {
  min-width: 120px;
  height: 40px;
  background-image: linear-gradient(to right, rgb(221, 77, 5), #f8b82e);
  margin: 0px 20px 0px;
}
